[tool.black]
line-length = 120
target-version = ['py312']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
)/
'''

[tool.pyright]
exclude = [
    "venv",
    ".venv",
    "**/__pycache__",
    "**/.pytest_cache",
    ".git",
]
venvPath = "."
venv = "venv"
pythonVersion = "3.12"
typeCheckingMode = "basic"

[tool.flake8]
max-line-length = 120
extend-ignore = ["E203", "W503"]
select = ["B", "C", "E", "F", "W", "B950"]
exclude = [".git", "__pycache__", "docs/source/conf.py", "old", "build", "dist", "migrations", "venv"]
per-file-ignores = [
    "__init__.py:F401"
]